<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 9.19.2015, 2:34</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello Ching, I'm the coding dog guarding this domain for you</p>
        </div>

        <div>
            <p>published: 9.19.2015, 2:38</p>
            <h2><a href="">My second post</a></h2>
            <p>Hello Ching, I'm the coding dog guarding this domain for you</p>
        </div>

        <p>Hi there</p>
        <p>It works</p>
    </body>
</html>